<!-- ========== BODY ========== -->
<section id="body" name="body">
  <div class="container" ng-controller="MainPage">
    <div class="row" style="margin-top:30px;">
      <div class="col-md-8">
	<div ng-repeat="article in articles">
	  <h1><a href="/article/{{ article.key }}">{{ article.title }}</a></h1>
	  <div class="col-lg-10 col-lg-offset-2">
	    <div ng-bind-html="article.text">
	      {{ article.text }}
	    </div>
	    <p>
	      <span ng-repeat="keyword in article.keywords">
		<button class="btn" ng-click="loadtag(keyword,true)">{{ keyword }}</button>
	      </span>
	    </p>
	    <div class="well">
	      <div class="row">
		<div class="col-md-4 text-center">
		  <a href="/archive#{{ article.key }}">
		    <i class="fa fa-clock-o fa-2x"></i>
		    <br/> {{ article.when | date:'dd/MM/yyyy @ h:mma'}} 
		  </a>
		</div>
		<div class="col-md-3 text-center">
		  <a href="/article/{{ article.key }}" data-toggle="tooltip"
		     data-placement="bottom" title="Ver y dejar comentarios">
		    <i class="fa fa-comments fa-2x"></i><br/>
		    <span class="badge">
		      <strong>{{ article.ncomments}}</strong>
		    </span>
		  </a>
		</div> 
		<div class="col-md-5 text-center">
		  Compartir: <br/>
		  <a href=""
		     ng-click="shareTwitter(article)"
		     data-toggle="tooltip"
		     title="Compartir con Twitter">
		    <span class="fa-stack fa-lg">
		      <i class="fa fa-circle fa-stack-2x"></i>
		      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
		    </span>
		  </a>
		  <a href=""
		     ng-click="shareFacebook(article)" 
		     data-toggle="tooltip"
		     title="Compartir con Facebook">
		    <span class="fa-stack fa-lg">
		      <i class="fa fa-circle fa-stack-2x"></i>
		      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
		    </span>
		  </a>
		  <a href=""
		     ng-click="shareTumblr(article)"
		     data-toggle="tooltip"
		     title="Compartir con Tumblr">
		    <span class="fa-stack fa-lg">
		      <i class="fa fa-circle fa-stack-2x"></i>
		      <i class="fa fa-tumblr fa-stack-1x fa-inverse"></i>
		    </span>
		  </a>
		  <a href=""
		     ng-click="shareGooglePlus(article)"
		     data-toggle="tooltip"
		     data-placement="bottom"
		     title="Compartir con Google+">
		    <span class="fa-stack fa-lg">
		      <i class="fa fa-circle fa-stack-2x"></i>
		      <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
		    </span>
		  </a>
		  <a href="mailto:?subject=Entrada en el blog de Guillem Borrell&amp;body=http://www.guillemborrell.es/article/{{
			   article.key }}."
		     data-toggle="tooltip"
		     title="Enviar por correo electrónico">
		    <span class="fa-stack fa-lg">
		      <i class="fa fa-circle fa-stack-2x"></i>
		      <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
		    </span>
		  </a>
		</div>
	      </div>
	    </div>
	    <p class="centered">
	      <i class="fa fa-circle"></i>
	      <i class="fa fa-circle"></i>
	      <i class="fa fa-circle"></i>
	    </p>
	  </div>
	</div>
	<div class="col-lg-10 col-lg-offset-2">
	  <div class="text-center"
	       style="margin-bottom:40px;">
	    <div ng-if="taggedbutton == true">
	      <button ng-click="loadtag(tag,false)" class="btn">
		<i class="fa fa-arrow-down"></i>
		Entradas anteriores sobre '{{ tag }}'
	      </button>
	    </div>
	    <div ng-if="taggedbutton != true">
	      <button ng-click="loadnext()" class="btn">
		<i class="fa fa-arrow-down"></i>
		Entradas anteriores.
	      </button>
	    </div>
	  </div>
	</div>
      </div>
      <div class="col-md-3 col-md-offset-1">
	<h1>Chat</h1>
	<iframe width="100%"
		height="600px"
		scrolling="auto"
		src="http://cloudchatroom.appspot.com/embed?key=ag9zfmNsb3VkY2hhdHJvb21yFAsSC0NoYXRNYW5hZ2VyGPOJrQMM"></iframe>
      </div>
    </div>
  </div>
</section>
<!-- /container -->
