<!DOCTYPE html>
<html ng-app="app" lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/img/favicon.png">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feeds/latest/">
    
    <title>I HAVE BECOME COMFORTABLY NUMB - Guillem Borrell et al.</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-sanitize.js"></script>
    <script 
       src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=sunburst">
    </script>
    <script src="/js/controller.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,500'
	  rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif'
	  rel='stylesheet' type='text/css'>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	<script src="/js/html5shiv.js"></script>
	<script src="/js/respond.min.js"></script>
	<![endif]-->
  </head>
  
  <body data-spy="scroll" data-offset="0" data-target="#theMenu">
    <!-- Menu -->
    <nav class="menu" id="theMenu">
      <div class="menu-wrap">
	<h1 class="logo">
	  <a href="/">I have become comfortably numb</a>
	</h1>
	<!--<i class="fa fa-arrow-right"></i>-->
	<a href="#home" class="smoothScroll">Inicio</a>
	<a href="#sobremi" class="smoothScroll">Sobre mi</a>
	<a href="#addr" class="smoothScroll">Enlaces</a>
	<a href="#contact" class="smoothScroll">Contactar</a>
	<a href="/archive" class="smoothScroll">Archivo</a>
	<a href="http://guillemborrell.es/feeds/latest/">
	  <i class="fa fa-rss fa-2x"></i>
	</a>
      </div>
      
      <!-- Menu button -->
      <div id="menuToggle"><i class="fa fa-bars"></i></div>
    </nav>
    
    
    
    <!-- ========== HEADER SECTION ========== -->
    <section id="home" name="home">
      <div id="headerwrap">
	<div class="container">
	  <div class="row">
	    <h1>I HAVE BECOME COMFORTABLY NUMB</h1>
	    <h3>Guillem Borrell <i>et al.</i></h3>
	    <br>
	    <div class="col-lg-6 col-lg-offset-3 text-center">
	      <h3>
		<a href="#body" class="smoothScroll">
		  <i class="fa fa-angle-double-down fa-3x"></i></a>
	      </h3>
	    </div>
	  </div>
	</div><!-- /container -->
      </div><!-- /headerwrap -->
    </section>
    <!-- ========== BODY ========== -->

    <!-- ========== ABOUT SECTION ========== -->	
    <section id="sobremi" name="sobremi">
      <div id="f">
	<div class="container">
	  <div class="row centered">
	    <h3>SOBRE MI</h3>
	    <h4><i class="fa fa-circle"></i>
	      <i class="fa fa-circle"></i>
	      <i class="fa fa-circle"></i>
	    </h4>
	    <div class="col-lg-6 col-lg-offset-3">
	      <p>
		Según las estadísticas: inconformista porque me metí en
		aeronáuticos,competente porque terminé la carrera, friki porque
		aprendí a programar, narcisista porque tengo un blog y mediocre
		porque no me he hecho rico y famoso. Pero todo el mundo sabe que
		las estadísticas no son más que mentiras.
	      </p>
	    </div><!-- col-lg-8 -->
	  </div><!-- row -->
	</div><!-- container -->
      </div>	<!-- f -->
    </section>
    <!-- ========== LINKS SECTION ========== -->	
    <section id="addr" name="addr">
      <div id="f">
	<div class="container">
	  <div class="row centered">
	    <h3>ENLACES</h3>
	    <h4><i class="fa fa-circle"></i>
	      <i class="fa fa-circle"></i>
	      <i class="fa fa-circle"></i></h4>				
	    <div class="col-lg-6 col-lg-offset-3">
	      <p><a href="http://www.ionelberdin.com">Ion Elberdin</a></p>
	      <p><a href="http://condumiomoreno.wordpress.com">Condumio Moreno</a></p>
	      <p><a href="http://www.flobrazo.com">Florian Tuerke</a></p>
	      <p><a href="http://josemanuelzorrilla.blogspot.com">Jose Zorrilla</a></p>
	      <p><a href="http://iimyo.forja.rediris.es">Matlab & Octave</a></p>
	    </div><!-- col-lg-8 -->
	  </div><!-- row -->
	</div><!-- container -->
      </div>	<!-- f -->
    </section>
    
    <!-- ========== CONTACT SECTION ========== -->
    <section id="contact" name="contact">
      <div id="f">
	<div class="container">
	  <div class="row">
	    <h3>CONTACTAR</h3>
	    <h4><i class="fa fa-circle"></i>
	      <i class="fa fa-circle"></i>
	      <i class="fa fa-circle"></i></h4>
	    <div class="col-lg-6 col-lg-offset-3">
	      <p><a href="https://twitter.com/guillemborrell">
		  <i class="fa fa-twitter fa-3x">&nbsp;/&nbsp;</i></a>
		<a href="http://www.flickr.com/photos/guillemborrell/">
		  <i class="fa fa-flickr fa-3x">&nbsp;/&nbsp;</i></a>
		<a href="http://guillemborrell.tumblr.com/">
		  <i class="fa fa-tumblr fa-3x">&nbsp;/&nbsp;</i></a>
		<a href="http://www.linkedin.com/profile/view?id=13999060">
		  <i class="fa fa-linkedin fa-3x">&nbsp;/&nbsp;</i></a>
		<a href="https://www.facebook.com/guillemborrell">
		  <i class="fa fa-facebook fa-3x"></i></a>&nbsp;</p>
	      <p>Laboratorio de Mecánica de Fluidos Computacional. 
		<strong>ETSIAE</strong></p>
	      <p>Pza. Cardenal Cisneros, 3. <strong>Madrid</strong></p>
	    </div>
	  </div>
	</div>
      </div>
    </section>
    
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/classie.js"></script>
    <script src="/js/smoothscroll.js"></script>
    <script src="/js/main.js"></script>
    <script src="http://www.google-analytics.com/urchin.js"
	    type="text/javascript">
    </script>
    <script type="text/javascript">
      _uacct = "UA-2866434-1";
      urchinTracker();
    </script>
  </body>
</html>
